name: Automated Preprocessing

on:
  push:
    branches: [main]
    paths:
      - "diabetes.csv"

permissions:
  contents: write

jobs:
  preprocess:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: pip install pandas numpy scikit-learn

      - name: Run Preprocessing
        run: python preprocessing/automate_Haqi-Dhiya.py

      - name: Commit and Push changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add MLProject/diabetes_preprocessed.csv
          git commit -m "auto: update preprocessed dataset [skip ci]" || echo "No changes"
          git push
