name: Data Preprocessing Workflow
on: [push]

jobs:
  preprocess:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12.7"

      - name: Install dependencies
        run: |
          pip install pandas numpy scikit-learn

      - name: Run Preprocessing

        run: python preprocessing/automate_Haqi-Dhiya.py

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: hasil-preprocessing
          path: preprocessing/diabetes_preprocessed.csv
