name: Automated Preprocessing

on:
  push:
    branches: [main]

permissions:
  contents: write

jobs:
  preprocess:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: pip install pandas numpy scikit-learn

      - name: Run Preprocessing Script
        run: python preprocessing/automate_Haqi-Dhiya.py

      # LANGKAH KRUCIAL UNTUK KRITERIA 1 ADVANCED
      - name: Commit and Push changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add preprocessing/diabetes_preprocessed.csv
          git commit -m "auto: update preprocessed dataset [skip ci]" || echo "No changes to commit"
          git push
